#creature-form DIV {
    margin-bottom: 10px;
}

#creature-list>DIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-body {
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 5px;
}

.eyes-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100px;
}

.eye {
    border: 2px solid #000;
    border-radius: 10px;
    background: #fff;
    position: relative;
    height: 18px;
    width: 10px;
}

.pupil {
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.mouth {
    width: 30px;
    height: 10px;
    margin-top: 5px;
}

.mouth.smile {
    border: 2px solid #000;
    border-top: none;
    border-radius: 0 0 30px 30px;
}

.mouth.sad {
    border: 2px solid #000;
    border-bottom: none;
    border-radius: 30px 30px 0 0;
}

.mouth.surprise {
    border-radius: 50%;
    border: 2px solid #000;
    background: transparent;
}